<div class="content-wrapper">
    {{#if isAdmin}}

        <details open>
            <summary class="mdc-typography--headline6">Dokumente suchen</summary>
            <iframe class="search-container" src="/dms/s"></iframe>
        </details>

        <div class="button-wrapper">
            {{> button title="Exportset leeren" onclick="clearElements()"}}
            {{> button title="Suchergebnisse hinzufügen" onclick="buildExportSet()" additionalclass="button-right"}}
        </div>
        
        <br>
        <label class="mdc-text-field mdc-text-field--outlined">
            <input type="text" class="mdc-text-field__input" aria-labelledby="exportset-name">
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="exportset-name">Name des Exportsets</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
        </label>

        {{> checkbox title="Musterset (mehrfach verwendbar)"}}

        <details>
            <summary class="mdc-typography--headline6"><span id="exportset-length">0</span> Dokumente ausgewählt
            </summary>
            <div class="export-sets">
                <ul class="mdc-list mdc-list--two-line">
                </ul>
            </div>
        </details>

        <div class="button-wrapper">
            {{> button title="Beenden" onclick="dapi.closeResourceIfMainResource();"}}
            {{> button title="Exportieren" onclick="sendExport()" additionalclass="button-right"}}
        </div>

        {{> snackbar }}
        {{> dialog question="Wollen Sie dieses Exportset wirklich exportieren?"}}

        <div id="metaData" data-meta="{{metaData}}"></div>

    {{else}}
        <header>
            <h1 class="mdc-typography--headline6 header-config">Sie sind nicht berechtigt Änderungen vorzunehmen.</h1>
        </header>
    {{/if}}

</div>