<h1>Import</h1>
    {{#if isAdmin}}
        <p>Jap</p>
     {{else}}
    <header>
        <h1 class="mdc-typography--headline6 header-config">Sie sind nicht berechtigt Änderungen vorzunehmen.</h1>
    </header>
    {{/if}}