.content-wrapper {
    margin: 20px;
}

.text-label {
    width: 100%;
}

:root {
    --mdc-theme-primary: #0069af;
    --mdc-theme-secondary: #cccc00;
}

.button-wrapper {
    width: 100%;
}

.button-right {
    float: right;
}

.loaded {
    display: none;
}

.search-container {
    width: 100%;
    height: 800px;
    border: none;
}

.summary-icon-right {
    position: absolute;
    right: 10px;
    font-size: 32px;
}

details {
    margin-bottom: 20px;
    margin-top: 20px;
}

.submit-button {
    margin-bottom: 20px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.mdc-linear-progress {
    top: 50%;
}

.cancel-snackbar {
    color: white;
}

.text-field-wrapper {
    display: none;
}